<!doctype html>
<html lang='en' ng-app>
<head>
<title>NG APP ONE</title>
<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="js/rows.js"></script>
<script src="js/grid-controller.js"></script>

<link href="css/bootstrap.css" rel="stylesheet">
</head>

<body ng-controller="GridController">
  <table ng-init="left=grid.left;right=grid.right">
    <tr ng-repeat="row in grid.rows" >      
      <td>
        <div ng-init="lcell=left.get($index)" ng-show="lcell.used">
          <input ng-model="lcell.value"
            class="input-small"            
            placeholder="enter a number"
            ng-class="{error:!lcell.isValid()}"
            type="text">
          </input>
          <button class="btn" ng-show="left.length() > 1"
                  ng-click="left.remove($index)">Delete</button>
        </div>
      </td>
      <td>
        <div ng-init="rcell=right.get($index)" ng-show="rcell.used">
          <input ng-model="rcell.value"
            type="text"            
            class="input-small" 
            placeholder="enter a number"            
            ng-class="{error:!rcell.isValid()}"
            >
          </input>
          <button class="btn" 
                  ng-show="right.length() > 1"
                  ng-click="right.remove($index)">Delete</button>
        </div>
     </td>
    </tr>
    <tr ng-hide="!showLeft && !showRight">
      <td style="text-align:center;">
        <div ng-show="showLeft" >
          <button class="btn" ng-click="left.add('')">Add</button>
        </div>
      </td>
      <td style="text-align:center;">
        <div ng-show="showRight" >
          <button class="btn" ng-click="right.add('')">Add</button>
        </div>
      </td>
    </tr>
    <tr>
      <td style="text-align:center;">{{left.total()}}</td>
      <td style="text-align:center;">{{right.total()}}</td>
    </tr>
  </table>
</body>
</html>