<!doctype html>
<html lang='en' ng-app>
<head>
<title>NG APP ONE</title>
<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="js/rows.js"></script>
<script src="js/grid-controller.js"></script>

<link href="css/bootstrap.css" rel="stylesheet">
</head>

<body ng-controller="GridController">
  <table>
    <tr ng-repeat="row in grid.rows">      
      <td>
        <div ng-show="grid.left.get($index).used">          
          <input ng-model="grid.left.get($index).value" 
            type="text" size="5" maxlength="5">
          </input>
          <button ng-show="grid.left.length() > 1"
                  ng-click="grid.left.remove($index)">Delete</button>
                  {{grid.left.get($index).value}}
        </div>
      </td>
      <td>&nbsp;</td>
      <td>
         <div ng-show="grid.right.get($index).used">
          <input ng-model="grid.right.get($index).value"
            type="text" size="5" maxlength="5">
          </input>
          <button ng-show="grid.right.length() > 1"
                  ng-click="grid.right.remove($index)">Delete</button>
          {{grid.right.get($index).value}}
        </div>
     </td>
    </tr>
    <tr>
      <td>
        <div ng-show="grid.left.length() < 10" >
          <button ng-click="grid.left.add('')">Add</button>
        </div>
      </td>
      <td>
        <div ng-show="grid.right.length() < 10" >
          <button ng-click="grid.right.add('')">Add</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>[{{grid.left.total()}}]</td>
      <td>&nbsp;</td>
      <td>[{{grid.right.total()}}]</td>
    </tr>
  </table>
  after table
</body>
</html>