<!doctype html>
<html lang='en' ng-app="calcApp" ng-controller="InfoController">
<head>
<title>{{params.title}} by {{meta.author}}</title>
<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="js/rows.js"></script>
<script src="js/calc-app.js"></script>
<script src="js/info-controller.js"></script>
<script src="js/grid-controller.js"></script>
<script src="js/hello-controller.js"></script>

<link href="css/bootstrap.css" rel="stylesheet">
</head>

<body ng-controller="GridController">
  <table ng-init="left=grid.left;right=grid.right">
    <tr ng-repeat="row in grid.rows" >      
      <td ng-controller ="LeftColumnController" ng-include src="'colTemplate.html'"  />
      <td ng-controller="RightColumnController" ng-include src="'colTemplate.html'"  />
    </tr>
    <tr ng-hide="!showLeft && !showRight">
      <td style="text-align:center;">
        <div ng-show="showLeft" >
          <button class="btn" ng-click="left.add('')">Add</button>
        </div>
      </td>
      <td style="text-align:center;">
        <div ng-show="showRight" >
          <button class="btn" ng-click="right.add('')">Add</button>
        </div>
      </td>
    </tr>
    <tr>
      <td style="text-align:center;">{{left.total()}}</td>
      <td style="text-align:center;">{{right.total()}}</td>
    </tr>
  </table>
  
  <hr/>
  
  <div ng-controller="HelloController">
  	<input ng-model="name" type="text" placeholder="enter your name"></input>{{greet()}}
  </div>
</body>
</html>